/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,600,700&display=swap'); */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/HelveticaNowDisplayXBlk.otf');
}

body {
    font-family: "IBM Plex Mono";
    background-image: linear-gradient(to right,#FAA916 50%, #f8f8f8 50%);
}

#jpgutti {
    width: 100vw;
    height: 100vw;
    position: relative;
}

.Typed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #292929;
    font-family: 'Helvetica';
}